{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
    <div class="text-center">
        <h1 class="mb-3">Bienvenido al sistema, {{ user.username }}</h1>
        <p>Acá podés gestionar de forma rápida <strong>Planes</strong> y <strong>Cuotas</strong>.</p>
        <div class="mt-4">
        <a class="btn btn-primary me-2" href="{% url 'planes_list' %}">Ir a Planes</a>
        <a class="btn btn-secondary" href="{% url 'cuotas_list' %}">Ir a Cuotas</a>
        </div>
    </div>
    <style>
        html, body {
        height: 100%;
        background-color: rgba(133, 8, 8, 0.445);
    }
        .mb-3{
            font-size: 4rem;
            color:rgb(17, 27, 117);
            text-shadow: 2px 2px #333;
        }
        .text-center{
        width: 100%;
        min-height: 100vh; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;

        }
    </style>
{% endblock %}
