{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
    <div class="text-center">
        <h1 class="mb-3">Bienvenido al sistema, {{ user.username }}</h1>
        <p>Acá podés gestionar de forma rápida <strong>Planes</strong> y <strong>Cuotas</strong>.</p>
        <div class="mt-4">
        <a class="btn btn-primary me-2" href="{% url 'planes_list' %}">Ir a Planes</a>
        <a class="btn btn-secondary" href="{% url 'cuotas_list' %}">Ir a Cuotas</a>
        </div>
    </div>
{% endblock %}
